<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cryptomonitor.mapper.CryptoCoinMapper">

    <resultMap id="CryptoCoinResult" type="CryptoCoin">
        <id property="coinId"    column="coin_id"    />
        <result property="address"     column="address"></result>
        <result property="symbol"      column="symbol"></result>
        <result property="name"        column="name"></result>
        <result property="logoUrl"     column="logo_url"></result>
        <result property="chainType"   column="chain_type"></result>
        <result property="description" column="description"></result>
        <result property="delFlag"     column="del_flag"    />
        <result property="createBy"    column="create_by"   />
        <result property="createTime"  column="create_time" />
        <result property="updateBy"    column="update_by"   />
        <result property="updateTime"  column="update_time" />
    </resultMap>

    <sql id="selectCryptoCoinVo">
        select coin_id, address, symbol, name, logo_url, chain_type, description, del_flag, create_by, create_time, update_by, update_time
        from crypto_coin
    </sql>

    <select id="selectCryptoCoin" parameterType="Long" resultMap="CryptoCoinResult">
        <include refid="selectCryptoCoinVo"/>
        <where>
            del_flag = '0'
            <if test="coinId != null">
                AND coin_id = #{coinId}
            </if>
            <if test="address != null and address != ''">
                AND address = #{address}
            </if>
        </where>
    </select>

    <select id="selectCryptoCoinList" parameterType="CryptoCoin" resultMap="CryptoCoinResult">
        <include refid="selectCryptoCoinVo"/>
        <where>
            del_flag = '0'
            <if test="symbol != null and symbol != ''">
                AND symbol like concat('%', #{symbol}, '%')
            </if>
            <if test="name != null and name != ''">
                AND name like concat('%', #{name}, '%')
            </if>
            <if test="chainType != null and chainType != ''">
                AND chain_type = #{chainType}
            </if>
        </where>
        order by create_time desc
    </select>

    <insert id="insertCryptoCoin" parameterType="CryptoCoin" useGeneratedKeys="true" keyProperty="coinId">
        insert into crypto_coin (
        <if test="address != null and address != ''">address,</if>
        <if test="symbol != null and symbol != ''">symbol,</if>
        <if test="name != null and name != ''">name,</if>
        <if test="logoUrl != null and logoUrl != ''">logo_url,</if>
        <if test="chainType != null and chainType != ''">chain_type,</if>
        <if test="description != null and description != ''">description,</if>
        <if test="delFlag != null and delFlag != ''">del_flag,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        ) values (
        <if test="address != null and address != ''">#{address},</if>
        <if test="symbol != null and symbol != ''">#{symbol},</if>
        <if test="name != null and name != ''">#{name},</if>
        <if test="logoUrl != null and logoUrl != ''">#{logoUrl},</if>
        <if test="chainType != null and chainType != ''">#{chainType},</if>
        <if test="description != null and description != ''">#{description},</if>
        <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>


    <update id="updateCryptoCoin" parameterType="CryptoCoin">
        update crypto_coin
        <set>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="symbol != null and symbol != ''">symbol = #{symbol},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="logoUrl != null and logoUrl != ''">logo_url = #{logoUrl},</if>
            <if test="chainType != null and chainType != ''">chain_type = #{chainType},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where coin_id = #{coinId}
    </update>

    <update id="deleteCryptoCoinById" parameterType="Long">
        update crypto_coin set del_flag = '2' where coin_id = #{coinId}
    </update>

    <update id="deleteCryptoCoinByIds" parameterType="Long">
        update crypto_coin set del_flag = '2' where coin_id in
        <foreach collection="array" item="coinId" open="(" separator="," close=")">
            #{coinId}
        </foreach>
    </update>




</mapper>